.navbar {
  overflow: hidden;
  width: 100%;
  background-color: #ca971a;
  flex-direction: row;
}
.navbar-btn {
  float: right;
  font-family: "Poppins";
  font-size: 24px;
  letter-spacing: 0.01em;
  flex: none;
  order: 2;
  flex-grow: 0;
  color: #ffffff !important; 
  display: flex;
  margin-right: 10%;
}
.navbar-btn a {
  padding: 10px ;
  color: #ffffff !important;
  text-decoration: none;
}
.navbar-btn a:hover{
    background-color: #fff;
    color: rgba(72, 185, 117, 0.98) !important;
    border-radius: 2px;
}

@media screen and (max-width:1366px){
  .navbar-btn a{
    padding: 7px !important;
  }
  .navbar-btn{
    font-size: 20px !important;
  }

}

