.fullbtn{
    display: flex;
    flex-direction: row;
    background-color: white;
    align-items: center;
    justify-content: center;
}

.spc{
    /* margin-bottom: 10px; */
    color: green;
    background-color: white;
    border: 1px solid green;
    width: 50%;
    margin-right: 5px;
    /* display: flex; */
}


.spc2{
    color: red;
    background-color: white;
    border: 1px solid red;
    width: 50%;
}

.del-btn{
    background-color: red !important;
    color: white !important;
    margin-top: 20px;

}